@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
}
body{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: black;
}
body::after{
    content: '';
    position: absolute;
    top: 10px;
    left: 30%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: linear-gradient(130deg, rgba(244,132,232,1) 0%, rgba(244,132,232,0.7175245098039216) 100%);
    z-index: -1;
}
body::before{
    content: '';
    position: absolute;
    bottom: 10px;
    right: 30%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: linear-gradient(320deg, rgba(131,46,210,1) 0%, rgba(244,132,232,0.7175245098039216) 100%); z-index: -1;
}
.container{
    position: relative;
    width: 250px;
    height: 500px;
    padding: 100px 5px 50px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.06);
    box-shadow: inset 5px 5px 10px rgba(255, 255, 255, 0.1),
    inset -5px -5px 10px rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 40px;
    border: 2px solid rgba( 255, 255, 255, 0.2 );
}
.container img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 40px;
    object-fit: cover;
    z-index: 10;
}
.top{
    text-align: center;
    color: #EDEDED;
}
.top p{
    font-size: 14px;
    margin-top: -5px;
}
.bottom .icon{
    text-align: center;
    width: 100%;
    display: flex;
    color: #ededed;
    font-size: 14px;
}
.bottom .icon span:first-child{ margin-right: 50px;}
.bottom .slide{
    margin-top: 20px;
    padding: 8px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.486);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    -webkit-backdrop-filter: blur( 9px );
   
}
.bottom .slide i{
    display: block;
    line-height: 1.8;
    margin-left: 10px;
    font-size: 18px;
}





